body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to bottom right, #FEBE10, #FFD700);
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.square{
  border:1px solid;
  display: block;
  height: 15vh;
  aspect-ratio: 1/1
}

.gameBoard {
  padding-top: 5%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  
  width: 80vh;
  
}